.dokuwiki {
    ul.elastic_pagination {
        list-style-type: none;
        text-align: center;
        margin: 3em 0 0 0;
        clear: both;
        padding: 0;

        li {
            display: inline;
            border: 1px solid @ini_border;
            padding: 5px;
        }

        li.sep {
            border: none;
        }
    }

    dd.elastic-resultmeta {
        font-size: smaller;
    }

    form .search-form {
        .advancedOptions {
            li {
                white-space: nowrap;
            }

            label {
                color: @ini_text;
            }

            input[type=checkbox], input[type=radio] {
                margin-right: 5px;
            }
        }
    }
}
