.dokuwiki {
    ul.elastic_pagination {
        list-style-type: none;
        text-align: center;
        margin: 3em 0 0 0;
        clear: both;
        padding: 0;

        li {
            display: inline;
            border: 1px solid @ini_border;
            padding: 5px;
        }

        li.sep {
            border: none;
        }
    }

    dd.elastic-resultmeta {
        font-size: smaller;
    }

    form.elastic-form {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 1em;

        section.input {
            display: flex;
            font-size: 1.5em;

            input[type="search"] {
                flex: 1;
            }
        }

        ul.filters {
            list-style-type: none;
            padding: 0;
            margin: 1em 0 0 0;

            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            align-items: center;

            li {
                white-space: nowrap;
                padding: 0;
                margin: 0;
            }

            a {
                background-color: @ini_background_neu;
                color: @ini_text;
                display: inline-block;
                padding: 0.2em 0.5em;
                border-radius: 0.5em;
            }

            li.add {
                position: relative;

                details {
                    margin: 0;

                    summary {
                        list-style-type: '+ ';
                        margin: 0;
                        cursor: pointer;
                    }

                    ul {
                        position: absolute;
                        backdrop-filter: blur(5px);
                        padding: 0.5em;
                        display: flex;
                        flex-direction: column;
                        gap: 0.2em;

                    }
                }
            }
        }
    }
}
