# This file is an example. The real configuration must be done in conf/elasticsearch.conf
#
# Use this file to setup media parsers. The parsers must return text or JSON.
#
# Configure one file type per line: file extension followed by parser location (full file system path or URL).
# You can use %in% for the input file.
#

# use the local pdftotext tool to extract PDF data:
pdf    /usr/bin/pdftotext %in% -

# use a free installation of Apache Tika on the Web for Word Documents
docx   http://givemetext.okfnlabs.org/tika/rmeta

# use our own parser for JPEGs
jpg    bin/plugin.php elasticsearch_img %in%
jpeg   bin/plugin.php elasticsearch_img %in%
